<nav class=" navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <a class="navbar-brand" id="mc" href="#">Mashvi POS System</a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li id="home" class="nav-item active">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li id="NOrder" class="nav-item">
        <a class="nav-link">Orders</a>
      </li>
      <li id="Nitem" class="nav-item">
        <a class="nav-link ">Item</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Other
        </a>
        <div class="dropdown-menu" id="drop" aria-labelledby="navbarDropdownMenuLink">
          <a id="c" class="dropdown-item">Customers</a>
          <a id="E" class="dropdown-item">Employee</a>
          <a class="dropdown-item" href="#">Setting</a>
          <a class="dropdown-item" href="#">about</a>
        </div>
      </li>
    </ul>

  </div>
</nav>

<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-dark sidebar " style="margin-top: 61px;position: fixed;height: 100%">

    <section id="navigation">
      <section id="profile">
        <img src="../../../assets/logo.png" width="60%">
        <aside>Shehan Nimeshaka</aside>
        <label>Mashvi Product</label>
        <label></label>
        <label>07/09/2018 10:00am</label>

        <hr class="bg-white">
      </section>
    </section>

    <div class="sidebar-sticky">

      <ul class="nav flex-column">
        <li id="index"><a routerLink="/dashboard" routerLinkActive="active" href="#"><i
          class="fas fa-tachometer-alt"></i>Home</a></li>
        <li id="customer"><a routerLink="/customers" routerLinkActive="active" href="#"><i class="fas fa-users"></i>Customer</a>
        </li>
        <li id="item"><a routerLink="/items" routerLinkActive="active" href="#"><i class="fas fa-cubes"></i>Items</a>
        </li>
        <li id="order"><a routerLink="/orders" routerLinkActive="active" href="#"><i class="fas fa-shopping-cart"></i>Orders</a>
        </li>
        <li><a routerLink="#" routerLinkActive="active" href="#"><i class="fas fa-cogs"></i>System</a>
        </li>
        <li><a routerLink="#" routerLinkActive="active" href="#"><i class="fas fa-power-off"></i>Log Off</a>
        </li>
      </ul>


    </div>
  </nav>

</div>
