<main id="indexDiv" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 bg-light" style="margin-top: 56px;">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>

  </div>
  <div class="Square">
    <div class="title">
      <p class="info">Customers</p>
    </div>
    <img class="Squreimage" src="../../../assets/customer.png">
    <p class="detail">50</p>
  </div>

  <div class="Square">
    <div class="title">
      <p class="info">Item</p>
    </div>
    <img class="Squreimage" src="../../../assets/Item.png">
    <p class="detail">500</p>
  </div>

  <div class="Square">
    <div class="title">
      <p class="info">MyOrder</p>
    </div>
    <img class="Squreimage" src="../../../assets/order.png">
    <p class="detail">1000</p>
  </div>

  <div class="Square">
    <div class="title">
      <p class="info">Setting</p>
    </div>
    <img class="Squreimage" src="../../../assets/System.png">
    <p class="detail">New</p>
  </div>


  <section class="mainTitle">
    <label>Annual Sales</label>
  </section>
  <section class="contentBox_dark">
    <label>Content 1</label>
    <article>
      <img class="i1" src="../../../assets/ss.png" width="100%">
    </article>
  </section>
  <section class="contentBox_dark">
    <label>Content 2</label>
    <article>
      <img class="i2" src="../../../assets/ss1.png" width="100%">
    </article>
  </section>


  <footer class="copyright">Developed By Shehan
    <label>@All Right resvered</label>
  </footer>

</main>

