<div id="customerDiv" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 bg-light" style="margin-top: 56px">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Customer</h1>

  </div>

  <div class="col-md-6">
    <div class="btn-group" style=" left: 55vw; margin-top: 1vh;">
      <button (click)=doSomething();newCustomer() type="button" class="btn btn-info nb">New
        Customer
      </button>
      <button class="btn btn-warning nb">View All Customer</button>
    </div>
  </div>

  <div class="card text-white bg-light mb-5 rounded" style="max-width: 25rem;">
    <div class="card-header bg-info">Header</div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="email" id="cname" class="form-control" aria-describedby="emailHelp"
                 placeholder="Input Name">
        </div>

        <button type="button" id="btnsubmit"
                class="btn btn-primary">Submit
        </button>

      </form>
    </div>
  </div>


  <div class="card text-white bg-light mb-5 rounded" style="max-width: 25rem;">
    <div class="card-header bg-info">Customer Mangage</div>
    <div class="card-body">
      <form (ngSubmit)="saveCustomer()" #frmCustomer="ngForm">

        <label class="lbl">Customer</label>

        <p class="form-group">
          <label>Customer ID</label>
          <input #txtId name="txtId" [(ngModel)]="selectedCustomer.id" class="form-control" type="text" required
                 pattern="^C\d{3}$">
        </p>
        <p class="form-group">
          <label>Customer Name</label>
          <input name="txtName" class="form-control" type="text" [(ngModel)]="selectedCustomer.name" required
                 pattern="\w{4}.+">
        </p>
        <p class="form-group">
          <label>Customer Address</label>
          <input name="txtAddress" class="form-control" type="text" [(ngModel)]="selectedCustomer.address" required
                 pattern="\w{4}.+">
        </p>
        <p class="form-group">
          <label>Customer Salary</label>
          <input name="txtSalary" class="form-control" type="text" [(ngModel)]="selectedCustomer.salary" required
                 pattern="\w{4}.+">
        </p>
        <p>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-warning">Edit</button>
          <button type="button" class="btn btn-danger">Clear</button>
        </p>


      </form>

    </div>

  </div>


  <div class="tbl">

    <table class="table table-bordered">
      <thead class="bg-info">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Contact NO</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody id="tbody">
      <tr *ngFor="let customer of customers" (click)="tableRow_Click(customer);doSomething()">
        <td>{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.salary}}</td>
      </tr>
      </tbody>
    </table>

    <br>
    <br>
    <br>
    <br>

    <footer class="copyright">Developed By Shehan
      <label>@All Right resvered</label>
    </footer>
  </div>
</div>


