<div id="customerDiv" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 bg-light" style="margin-top: 56px">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Customer</h1>

  </div>

  <div class="col-md-6">
    <div class="btn-group" style=" left: 55vw; margin-top: 1vh;">
      <button (click)=doSomething() type="button" class="btn btn-info nb">New
        Customer
      </button>
      <button class="btn btn-warning nb">View All Customer</button>
    </div>
  </div>

  <div class="card text-white bg-light mb-5 rounded" style="max-width: 25rem;">
    <div class="card-header bg-info">Header</div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="email" id="cname" class="form-control" aria-describedby="emailHelp"
                 placeholder="Input Name">
        </div>

        <button type="button" id="btnsubmit"
                class="btn btn-primary">Submit
        </button>

      </form>
    </div>
  </div>


  <div *ngIf="status" class="card text-white bg-light mb-5 rounded" style="max-width: 25rem;">
    <div class="card-header bg-info">Customer Details</div>
    <div class="card-body">
      <form>

        <label class="lbl">Customer</label>

        <select class="styleSelect" id="cmbCustomer">
          <option>Select Customer</option>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>


        <div class="form-group">
          <label class="lbl">Address</label>
          <input type="email" id="txtAdd" class="form-control"
                 aria-describedby="emailHelp">
        </div>

        <div class="form-group">
          <label class="lbl">Telephone</label>
          <input type="email" id="txttp" class="form-control"
                 aria-describedby="emailHelp">
        </div>

        <div class="form-group">
          <label class="lbl">Salary</label>
          <input type="email" id="txtsal" class="form-control"
                 aria-describedby="emailHelp">
        </div>

      </form>
    </div>

  </div>


  <button type="button" class="btn btn-primary">Delete</button>
  <button type="button" class="btn btn-secondary">Edit</button>
  <button type="button" class="btn btn-success">Detail</button>
  <button type="button" class="btn btn-danger">Clear</button>

  <div class="tbl">

    <table class="table table-bordered">
      <thead class="bg-info">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Contact NO</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody id="tbody">
      <tr *ngFor="let customer of customers" (click)="selectedCustomer=customer">
        <td>{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.salary}}</td>
      </tr>
      </tbody>
    </table>

    <br>
    <br>
    <br>
    <br>

    <footer class="copyright">Developed By Shehan
      <label>@All Right resvered</label>
    </footer>
  </div>
</div>


