#navbarNav ul li a {
  color: #bdbdbd;
}

#navright {
  margin-left: 720px;
}

.navbar-nav li a {
  padding: 10px;
  text-decoration: none;

}

.sidebar-sticky {
  margin-top: -30px;
}

.sidebar-sticky ul li {
  color: #bdbdbd;
  height: 15px;
  font-size: 15px;
  text-decoration: none;
  display: block;
  padding: 25px;

}

.sidebar-sticky ul li:hover {
  color: #0069d9;
}

.sidebar-sticky ul li i {

  font-size: 22px;
  padding: 15px;

}

#navbarNav ul li {
  color: #bdbdbd;
}

#navbarNav ul li :hover {
  color: white;
}

#mc {
  color: #bdbdbd;
}

#navigation {
  margin-top: 10px;
  color: white;

}

#profile {
  text-align: center;
  margin-top: 20px;
}

#profile img {
  border-radius: 20px;
  padding: 10px;
}

#profile aside {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

#profile label {
  font-size: 15px;
  color: lightgray;

}

.nav-item a {
  text-decoration: none;
  color: #bdbdbd;
  margin-top: 5px;
}

.navbar-right {
  margin-left: 650px;
  font-size: 15px;
}

#mainnav {
  height: calc(100% - 50px);
  width: 250px;
  background-color: #0b2e13;
}

.Square {
  width: 13.5vw;
  height: 30vh;
  list-style-type: none;
  display: inline-block;
  border: solid;
  border-radius: 7px;
  background-color: white;
  border-color: #4F97A3;
  margin-left: 5vw;
  margin-top: 1vh;

}

.title {
  width: 13.5vw;
  height: 5vh;
  position: relative;
  background-color: #4F97A3;
  margin-top: 0px;
  border-radius: 7px;
  margin-left: -3px;

}

.info {
  position: absolute;
  font-size: 1.5vw;
  left: 4vw;
  color: white;
  margin-top: 0.5vh;

}

.detail {

  font-size: 2vw;
  color: #4c4cff;
  margin-top: 15vh;
  margin-left: 5vw;
}

.Squreimage {

  width: 5vw;
  height: 6vh;
  position: absolute;
  margin-left: 4vw;
  margin-top: 5vh;

}

.mainTitle {
  padding: 10px;
  border-bottom: #263238 solid 5px;
}

section.mainTitle label:first-child {
  font-size: 25px;
  font-weight: bolder;
  margin-right: 5px;
}

section.mainTitle label:last-child {
  color: #78909c;
}

.contentBox_dark {
  background-color: white;
  box-shadow: 0px 0px 10px black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contentBox_dark .i1 {
  width: 50vw;
  height: 50vh;

}

.contentBox_dark .i2 {
  width: 50vw;
  height: 50vh;

}

section.contentBox_dark label {
  padding: 10px;
  display: block;
  background-color: #263238;
  color: white;
}

.copyright {
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

.styleSelect {
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  border: none;
  color: #263238;
  box-shadow: #263238 0px 0px 1px;
  font-size: 14px;
  background: transparent;
}

.tbl {
  margin-top: 20px;
}

.lbl {
  color: black;
}

#lbl {
  color: red;
  text-align: center;
  margin-left: 130px;
  font-size: 20px;
}

#info {
  margin-top: 30px;
  background-color: #4e555b;
}

.content-box-2 {
  background-color: #cfd8dc;
  padding: 40px;
}

#total-text {
  color: #ef5350;
  font-size: 50px;
}

section.content-box-2 label {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 20px;
}

section.content-box-2 label:nth-child(4) {
  margin-left: 0;
}

#order-last-buttons {
  text-align: right;
  margin-top: 20px;
}

section#leftPanel nav ul a li:hover {
  background-color: #4F97A3;
  color: whitesmoke;
}

#drop {
  background-color: #4e555b;
}

#drop .dropdown-item:hover {
  background-color: #0069d9;
}
