<!----Item-------->

<main id="itemDiv" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 bg-light" style="margin-top: 56px">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Item</h1>

  </div>

  <div class="col-md-6">
    <div class="btn-group" style=" left: 55vw; margin-top: 1vh;">
      <button type="button" class="btn btn-info nb" data-toggle="modal" data-target="#NewItem">New Item
      </button>
      <button onclick="getALLItem()" class="btn btn-warning nb">View All Item</button>
    </div>
  </div>

  <div class="card text-white bg-light mb-5 rounded" style="max-width: 25rem;">
    <div class="card-header bg-info">Header</div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="Iname"
                 aria-describedby="emailHelp" placeholder="Input Name">
        </div>

        <button type="button" id="btnIsubmit" data-toggle="modal" data-target="#searchIt"
                class="btn btn-primary">Submit
        </button>

      </form>
    </div>
  </div>

  <div class="card text-white bg-light mb-5 rounded" style="max-width: 25rem;">
    <div class="card-header bg-info">New Item</div>
    <div class="card-body">
      <form (ngSubmit)="saveItem()" #frmItem="ngForm">

        <label class="lbl">Item</label>

        <p class="form-group">
          <label>Item ID</label>
          <input #txtIId name="txtIId" [(ngModel)]="selectedItem.code" class="form-control" type="text" required
                 pattern="^P\d{3}$">
        </p>
        <p class="form-group">
          <label>Description</label>
          <input name="txtIName" class="form-control" type="text" [(ngModel)]="selectedItem.description" required
                 pattern="\w{4}.+">
        </p>
        <p class="form-group">
          <label>Qty On Hand</label>
          <input name="txtIAddress" class="form-control" type="text" [(ngModel)]="selectedItem.qtyOnHand" required
                 pattern="\w{1}.+">
        </p>
        <p class="form-group">
          <label>UnitPrice</label>
          <input name="txtISalary" class="form-control" type="text" [(ngModel)]="selectedItem.unitPrice" required
                 pattern="\w{2}.+">
        </p>
        <p>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-warning">Edit</button>
          <button type="button" class="btn btn-danger">Clear</button>
        </p>


      </form>

    </div>

  </div>

  <div class="tbl">

    <table class="table table-bordered">
      <thead class="bg-info">
      <tr>
        <th>Item Code</th>
        <th>Item Name</th>
        <th>Item Price</th>
        <th>Item Quantity</th>
      </tr>
      </thead>
      <tbody id="Itemtbl">
      <tr *ngFor="let item of items" (click)="tableRow_Click(item)">
        <td>{{item.code}}</td>
        <td>{{item.description | uppercase}}</td>
        <td>{{item.unitPrice | number:'1.2-2'}}</td>
        <td>{{item.qtyOnHand}}</td>
      </tr>
      </tbody>
    </table>
    

    <footer class="copyright">Developed By Shehan
      <label>@All Right resvered</label>
    </footer>
  </div>
</main>

